/* --- CONTACT PAGE --- */
.booking-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}

@media (max-width: 767px) {
    .booking-form form {
        gap: 3rem;
    }
}

.calendar-group {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: fit-content;
    height: fit-content;
    background: var(--action-contrast-color);
    border-radius: 30px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
}

@media (max-width: 767px) {
    .calendar-group {
        flex-direction: column;
        align-items: stretch;
    }
}

.calendar-group input{
    color: var(--header-link-color);
    width: 100%;
    padding: 14px 24px;
    padding-top: 32px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.calendar-group input::placeholder {
    color: var(--header-link-color);
}

.calendar-group input:hover {
    background-color: var(--standard-hover-color);
}

.calendar-group input:focus {
    background-color: var(--action-contrast-color);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.location-box div {
    cursor: default;
}

.location-box div input:disabled {
    background-color: var(--action-contrast-color);
}

.calendar-group .label-container {
    position: absolute;
    padding-left: 24px;
    padding-top: 10px;
}

.calendar-group label {
    color: var(--body-font-color);
    font-size: 0.86rem;
    font-weight: 700;
}


.info-group {
    width: calc(8.33% * 5);
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 1px solid var(--standard-border-color);
    border-radius: 12px;
    gap: 20px;
    padding: 24px;
}

@media (max-width: 767px) {
    .info-group {
        gap: 16px;
        width: 100%;
    }

    .info-group.row {
        gap: 16px;
    }
}

.info-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--standard-border-color);
    border-radius: 8px;
    color: var(--body-font-color);
    outline: none;
}

.info-group input:focus {
    border: 1px solid var(--black-color);
}

/* Force specific element state of autofill for the inputs */
.info-group input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }

.info-group input[type=tel] {
    padding-right: 160px;
}

@media (max-width: 1025px) {
    .info-group input[type=tel] {
        padding-right: 36px;
    }
}

@media (max-width: 767px) {
    .info-group input[type=tel] {
        padding-right: 100px;
    }
}

.price-group {
    position: relative;
    width: calc(8.33% * 12);
    max-width: 370px;
    height: 310px;
    border-radius: 12px;
    padding: 24px;
    background-color: var(--action-contrast-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    gap: 1rem;
}

/* Hide the dial code */
.iti__dial-code {
    display: none;
}

.booking-form #submit-btn {
    background-color: var(--action-color);
    color: var(--action-contrast-color);
    padding: 8px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.booking-form #submit-btn:hover {
    background-color: var(--action-color-darken);
    color: var(--action-contrast-color);
}
/* --- END CONTACT PAGE --- */