/* --- CONTACT PAGE --- */
.booking-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}

@media (max-width: 768px) {
    .booking-form form {
        gap: 3rem;
    }
}

.calendar-group {
    align-items: stretch;
    width: 100%;
    height: fit-content;
    padding: 24px;
    background: var(--action-contrast-color);
    border-radius: 30px;
    border: 1px solid var(--standard-border-color);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
}

.calendar-group input,
.calendar-group .dropdown-toggle {
    color: var(--header-link-color);
    width: 100%;
    padding: 14px 0;
    padding-top: 32px;
    border-radius: 0;
    border: none;
    outline: 2px solid transparent;
    background-color: var(--action-contrast-color);
}

.calendar-group input::placeholder {
    color: var(--header-link-color);
}

@media (min-width: 768px) {
    .calendar-group {
        padding: 0;
    }

    .calendar-group input,
    .calendar-group .dropdown-toggle {
        padding: 14px 60px;
        padding-top: 32px;
        border-radius: 30px;
    }

    .calendar-group input:hover,
    .calendar-group .dropdown-toggle:hover {
        background-color: var(--standard-hover-color);
    }

    .calendar-group input:focus,
    .calendar-group .dropdown-toggle:focus {
        outline: 2px solid var(--black-color);
    }
}

.calendar-group .label-container {
    position: absolute;
    padding-top: 10px;
}

@media (min-width: 768px) {
    .calendar-group .label-container {
        padding-left: 60px;
    }
}

.calendar-group label {
    color: var(--body-font-color);
    font-size: 0.86rem;
    font-weight: 700;
}

.location-box {
    display: none;
    cursor: default;
}

@media (min-width: 1200px) {
    .location-box {
        display: block;
        padding-right: 0.25rem;
    }

    .location-box input:disabled {
        background-color: var(--action-contrast-color);
    }

    .location-box input:disabled:hover {
        background-color: var(--standard-hover-color);
    }
}

.calendar-box {
    cursor: pointer;
}

.calendar-box input {
    margin-left: -2px;
}

.guests-box {
    cursor: pointer;
}

@media (min-width: 768px) {
    .calendar-box input {
        margin-left: 0;
    }

    .arrival-inner {
        padding-right: 0.25rem;
    }

    .guests-box {
        padding-left: 0.25rem;
    }

}

/* --TEST-- */
.dropdown-menu {
    width: 300px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.counter button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: white;
    font-size: 20px;
    line-height: 1;
}

.counter button:hover {
    background-color: #f7f7f7;
}

/* --TEST-- */


.info-group {
    width: calc(8.33% * 5);
    height: fit-content;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .info-group {
        width: 100%;
    }
}

.info-group input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    outline: 1px solid var(--standard-border-dark);
    border: none;
    color: var(--body-font-color);
}

.info-group input:focus {
    outline: 2px solid var(--black-color);
}

/* Force specific element state of autofill for the inputs */
.info-group input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.info-group input[type=tel] {
    padding-right: 210px;
}

@media (max-width: 1024px) {
    .info-group input[type=tel] {
        padding-right: 90px;
    }
}

@media (max-width: 768px) {
    .info-group input[type=tel] {
        padding-right: 140px;
    }
}

.info-group .input-name {
    border-radius: 10px 10px 0 0;
}

.info-group .input-phone {
    border-radius: 0;
}

.info-group .input-email {
    border-radius: 0 0 10px 10px;
}

.price-group {
    position: relative;
    width: calc(8.33% * 12);
    max-width: 370px;
    height: 310px;
    border-radius: 12px;
    padding: 24px;
    background-color: var(--action-contrast-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    gap: 1rem;
    border: 1px solid var(--standard-border-color);
}

/* Hide the dial code */
.iti__dial-code {
    display: none;
}

.booking-form #submit-btn {
    background-color: var(--action-color);
    color: var(--action-contrast-color);
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid var(--action-color);
    border: none;
    transition: background-color 0.3s ease;
}

.booking-form #submit-btn:hover {
    background-color: var(--action-color-darken);
    color: var(--action-contrast-color);
}

/* --- END CONTACT PAGE --- */