/* --- GALLERY PAGE --- */

@media (min-width: 768px) {
    .video-section {
        height: 500px;
    }
}

lite-youtube {
    height: 100%;
    height: -webkit-fill-available;
    --lite-youtube-frame-shadow-visible: no;
}

section h3 {
    font-size: 1.71rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--action-color);
    margin-bottom: 40px;
}

#pictures img {
    width: 330px;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}

/* --- END GALLERY PAGE --- */