/* --- GALLERY PAGE --- */
.video-section {
    height: 500px;
    width: 100%;
}

@media (max-width: 767px) {
    .video-section {
        height: 300px;
    }
}

iframe {
 display: block; 
 width: 100%; 
 height: 100%;
}

section h3 {
    font-size: 1.71rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--action-color);
    margin-bottom: 40px;
}

#pictures img {
    width: 330px;
    height: 220px;
    object-fit: cover;
    border-radius: 0.42rem;
}
/* --- END GALLERY PAGE --- */