/* --- HOME PAGE --- */
/* Hero Section */
.hero-section {
    background-image: url('../assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    border-radius: 12px 12px 0 0;
}

@media (max-width: 768px) {
    .hero-section {
        height: 300px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px 12px 0 0;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--action-contrast-color);
    font-size: 3.42rem;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 992px) {
    .hero-title {
        font-size: 2.71rem;
        top: 40%;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.14rem;
        top: 50%;
    }
}

.reservation-box {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--action-contrast-color);
    border: 1px solid var(--standard-border-color);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    height: 25%;
    width: 80%;
    max-width: 800px;
}

.reservation-box form {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-left: 28px;
    gap: 1.14rem;
}

.input-date {
    display: flex;
    align-items: center;
    gap: 1.14rem;
}

.input-date input {
    outline: 1px solid var(--standard-border-dark);
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: var(--body-font-color);
}

.input-date input:focus {
    box-shadow: none;
    outline: 2px solid var(--black-color);
}

.input-guest {
    display: flex;
    align-items: center;
}

.input-guest select {
    outline: 1px solid var(--standard-border-dark);
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: var(--body-font-color);
}

.input-guest select:focus {
    box-shadow: none;
    outline: 2px solid var(--black-color);
}

.button-search div {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    height: 100%;
    width: 100%;
}

.button-search button {
    background-color: var(--action-color);
    color: var(--action-contrast-color);
    border-radius: 0 12px 12px 0;
    border: none;
    outline: 1px solid var(--action-color);
    transition: background-color 0.3s ease;
    height: 100%;
    width: 100%;
    font-size: 1.42rem;
}

.button-search button:hover {
    background-color: var(--action-color-darken);
    color: var(--action-contrast-color);
}

.button-search img {
    position: absolute;
    width: 23px;
    top: 51px;
    margin-left: 34px;
}

.button-search .btn-book-now-2 {
    background-color: var(--action-color);
    color: var(--action-contrast-color);
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid var(--action-color);
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.11);
    display: inline-block;
}

.button-search .btn-book-now-2:hover {
    background-color: var(--action-color-darken);
    color: var(--action-contrast-color);
}

.button-search .btn-book-now-2:active {
    background-color: var(--action-color-darken);
    color: var(--action-contrast-color);
}

@media (max-width: 992px) {
    .reservation-box {
        max-width: 430px;
        height: auto;
        bottom: -55px;
        padding: 1.14rem;
    }

    .reservation-box form {
        margin: 0;
        flex-direction: column;
    }

    .button-search button {
        padding: 10px;
        border-radius: 10px;
        font-size: 1.28rem;
    }
}

@media (max-width: 768px) {
    .reservation-box {
        bottom: -35px;
    }
    
    .reservation-box .input-date {
        display: none;
    }
    .reservation-box .input-guest {
        display: none;
    }
}

.content-section {
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 576px) {
    .content-section {
        margin-top: 6rem;
    }
}

.airbnb-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .airbnb-container {
        margin-top: 2.14rem;
    }
}

.airbnb-logo {
    height: 100px;
    margin: 0 1.42rem;
}

@media (max-width: 768px) {
    .airbnb-logo {
        height: 80px;
        margin: 0 0.71rem;
    }
}

.five-star-title {
    font-size: 1.14rem;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    top: 16px;
    margin-left: 2px;
}
/* --- END HOME PAGE --- */
