/* --- HOME PAGE --- */
/* Hero Section */
.hero-section {
    background-image: url('../assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    border-radius: 12px 12px 0 0;
}

@media (min-width: 768px) {
    .hero-section {
        height: 500px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px 12px 0 0;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--action-contrast-color);
    font-size: var(--step-1);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

@media (min-width: 768px) {
    .hero-title {
        top: 20%;
    }
}

@media (min-width: 992px) {
    .hero-title {
        top: 50%;
    }
}

.reservation-box {
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--action-contrast-color);
    border: 1px solid var(--standard-border-color);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    width: 80%;
    max-width: 430px;
    height: fit-content;
    padding: 24px;
}

@media (min-width: 992px) {
    .reservation-box {
        max-width: 800px;
        width: 100%;
        height: 25%;
        bottom: -30px;
        padding: 0;
    }
}

.reservation-box form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@media (min-width: 992px) {
    .reservation-box form {
        flex-direction: row;
    }

}

.reservation-inner {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .reservation-inner {
        display: flex;
    }
}

@media (min-width: 992px) {
    .reservation-inner {
        flex-direction: row;
        padding: 16px;
        margin-bottom: 0;
    }
}

.reservation-box label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input[type="text"],
input[type="date"] {
    -webkit-appearance: none;
    appearance: none;
}

.reservation-box input[type="text"],
.reservation-box input[type="date"],
.reservation-box .dropdown-toggle {
    display: block;
    width: 100%;
    outline: 1px solid var(--standard-border-dark);
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: var(--header-link-color);
    background-color: var(--action-contrast-color);
    cursor: pointer;
    text-align: center;
}

.reservation-box input[type=text]::placeholder,
.reservation-box input[type="date"]::placeholder{
    color: var(--header-link-color);
}

.reservation-box input[type=text]:focus,
.reservation-box input[type="date"]:focus,
.reservation-box .dropdown-toggle:focus {
    box-shadow: none;
    outline: 2px solid var(--black-color);
}

@media (min-width: 992px) {
    .reservation-box input[type="text"],
    .reservation-box input[type="date"],
    .reservation-box .dropdown-toggle {
        text-align: left;
    }
}

.reservation-box .dropdown-menu {
    width: 260px;
    padding: 0 14px;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
    .reservation-box .dropdown-menu {
        width: 412px;
        padding: 16px 32px;
    }
}

@media (min-width: 992px) {
    .dropup .dropdown-menu[data-bs-popper] {
        margin-bottom: 68px;
    }

}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

.counter span>span {
    font-weight: 600;
}

.counter .btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--standard-border-color);
    color: var(--body-font-color);
    font-size: 20px;
    line-height: 1;
}

.counter .btn:hover {
    background-color: var(--action-color);
    color: var(--action-contrast-color);
}

.counter .btn:active {
    background-color: var(--action-color-darken);
    color: var(--action-contrast-color);
}

.button-search {
    width: 100%;
}

@media (min-width: 992px) {
    .button-search {
        width: 40%;
    }
}

.button-search .btn-book-now-2 {
    background-color: var(--action-color);
    color: var(--action-contrast-color);
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid var(--action-color);
    border: none;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.11);
}

.button-search .btn-book-now-2:hover {
    background-color: var(--action-color-darken);
    color: var(--action-contrast-color);
}

.button-search .btn-book-now-2:active {
    background-color: var(--action-color-darken);
    color: var(--action-contrast-color);
}

.button-search button {
    background-color: var(--action-color);
    color: var(--action-contrast-color);
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: 1px solid var(--action-color);
    font-size: 1rem;
    width: 100%;
    font-weight: 600;
}

.button-search button:hover {
    background-color: var(--action-color-darken);
}

@media (min-width: 992px) {
    .button-search button {
        height: 100%;
        border-radius: 0 12px 12px 0;
        font-size: 1.42rem;
    }
}

.button-search img {
    position: absolute;
    width: 23px;
    top: 51px;
    margin-left: 35px;
}

.content-section {
    margin-top: 100px
}

@media (min-width: 992px) {
    .content-section {
        margin-top: 80px;
    }
}

.airbnb-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.airbnb-logo {
    height: 140px;
}

@media (min-width: 768px) {
    .airbnb-container {
        margin-top: -35px;
    }

    .airbnb-logo {
        height: 160px;
    }
}

/* --- END HOME PAGE --- */

/* --- FLATPICKR STYLES --- */
.flatpickr-calendar {
    border-radius: 24px;
    border: none;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    padding-top: 15px;
}

.flatpickr-day.selected {
    background: var(--action-color);
    border-color: var(--action-color);
}

.flatpickr-day.selected:hover {
    background: var(--action-color);
    border-color: var(--action-color);
}

.flatpickr-day {
    margin: 0 6px 8px 10px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    color: var(--body-font-color);
    border: 1px solid transparent;
}

.flatpickr-day:hover {
    border: 1px solid var(--body-font-color);
    background-color: transparent;
}

.flatpickr-day.today {
    border: 1px solid transparent;
}

.flatpickr-day.today:hover {
    background-color: transparent;
    color: var(--body-font-color);
    border: 1px solid var(--body-font-color);
}

@media (min-width: 992px) {
    .dayContainer {
        min-width: 390px;
    }
}

.flatpickr-current-month span,
.flatpickr-current-month input.cur-year,
.flatpickr-current-month input.cur-year[disabled] {
    font-weight: 600;
    color: var(--body-font-color);
    font-size: 1.25rem;
}

.flatpickr-innerContainer {
    justify-content: center;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    position: relative;
    border-radius: 50%;
    background: rgb(230, 230, 230);
    color: var(--body-font-color);
    margin: 0 12px;
    padding: 4px;
    height: 34px;
    width: 34px;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--body-font-color);
}

.flatpickr-weekdays {
    margin-bottom: 10px;
}

span.flatpickr-weekday {
    font-weight: 600;
}