/* --- HOME PAGE --- */
/* Hero Section */
.hero-section {
    background-image: url('../assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    border-radius: 0.42rem 0.42rem 0 0;
}

@media (max-width: 767px) {
    .hero-section {
        height: 300px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.42rem 0.42rem 0 0;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--action-contrast-color);
    font-size: 3.42rem;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 991px) {
    .hero-title {
        font-size: 2.28rem;
    }
}

.reservation-box {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--action-contrast-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.42rem;
    padding: 1.42rem;
    height: 82px;
    width: 80%;
    max-width: 800px;
}

.btn-book-now-2 {
    width: 100%;
    height: 40px;
    background-color: var(--action-color);
    color: var(--action-contrast-color);
    font-weight: 400;
    padding: 0.71rem 2.28rem;
    border: 1px solid transparent;
    border-radius: 0.42rem;
    transition: background-color 0.3s ease;
}

.btn-book-now-2:hover {
    background-color: var(--action-contrast-color);
    color: var(--action-color);
    border: 1px solid var(--action-color);
}

.content-section {
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 575px) {
    .content-section {
        margin-top: 6rem;
    }
}

.airbnb-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .airbnb-container {
        margin-top: 2.14rem;
    }
}

.airbnb-logo {
    height: 100px;
    margin: 0 1.42rem;
}

@media (max-width: 767px) {
    .airbnb-logo {
        height: 80px;
        margin: 0 0.71rem;
    }
}

.five-star-title {
    font-size: 1.14rem;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    top: 16px;
    margin-left: 2px;
}
/* --- END HOME PAGE --- */
