/* --- MAP PAGE --- */
.map-custom {
    height: 500px;
    width: 100%;
}

@media (max-width: 767px) {
    .map-custom {
        height: 300px;
    }
}

section h3 {
    font-size: 1.71rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--action-color);
    margin-bottom: 40px;
}
/* --- END MAP PAGE --- */