/* --- OVERVIEW PAGE --- */
/* Hero Section */
.hero-section {
    background-image: url('../assets/images/overview.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 280px);
    position: relative;
    border-radius: 0.42rem;
}

@media (max-width: 991px) {
    .hero-section {
        height: calc(100vh - 255px);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.42rem;
}

.nav-overview {
    height: 80px;
}

@media (max-width: 575px) {
    .nav-overview {
        height: 60px;
    }
}

.nav-overview .navbar-nav {
    gap: 14px;
    flex-direction: row;
}

.nav-overview .navbar-nav .nav-link {
    padding: 0;
}

.nav-overview .navbar-nav .nav-link {
    color: var(--header-link-color);
}

.nav-overview .navbar-nav .nav-link:hover {
    color: var(--header-link-color);
    border-bottom: 2px solid var(--action-color);
}

.nav-overview .navbar-nav .nav-link.active {
    color: var(--header-link-color);
    border-bottom: 2px solid var(--action-color);
}

.nav-overview .navbar-nav .nav-link:focus {
    color: var(--header-link-color);
    border-bottom: 2px solid var(--action-color);
}

.nav-overview .navbar-nav .nav-link:visited {
    color: var(--header-link-color);
}

section h3 {
    font-size: 1.71rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--action-color);
    margin-bottom: 40px;
}

#description h1 {
    font-size: 2.85rem;
    font-weight: 700;
}

#description img {
    width: 36px;
}

#pictures img {
    width: 330px;
    height: 220px;
    object-fit: cover;
    border-radius: 0.42rem;
}

#amenities h6 {
    font-weight: 700;
}

#amenities img {
    width: 30px;
}

#rules img {
    width: 30px;
}

#policy h4 {
    font-size: 1.14rem;
}

.book-info {
    z-index: 100;
    height: 85px;
    background-color: var(--action-contrast-color);
    box-shadow: 0 -0.28rem 0.64rem -0.42rem rgba(0, 0, 0, .3);
    padding: 12px;
}

@media (max-width: 575px) {
    .book-info {
        padding: 24px;
    }
}

.book-info img {
    width: 30px;
}

.book-info .btn-book-now-2 {
    height: 40px;
    background-color: var(--action-color);
    color: var(--action-contrast-color);
    font-weight: 400;
    padding: 0.71rem 2.85rem;
    border: none;
    border-radius: 0.42rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.11);
}

@media (max-width: 575px) {
    .book-info .btn-book-now-2 {
        padding: 0.71rem 2rem;
    }
}

.book-info .btn-book-now-2:hover {
    background-color: var(--action-contrast-color);
    color: var(--action-color);
    border: 1px solid var(--action-color);
}
/* --- END OVERVIEW PAGE --- */