:root {
    --action-color: rgb(57, 154, 160);
    --action-color-darken: rgb(46, 124, 129);
    --action-contrast-color: rgb(255, 255, 255);
    --standard-border-color: rgb(221, 221, 221);
    --standard-border-dark: rgb(140 140 140);
    --standard-hover-color: rgb(230, 230, 230);
    --header-link-color: rgb(106, 106, 106);
    --body-font-color: rgb(34, 34, 34);
    --black-color: rgb(0, 0, 0);
    --body-font: "Nunito", sans-serif;
    --heading-font: "Montserrat", sans-serif;
    --subtitle-font: "Unna", serif;
    --title-font: "Unna", serif;
    --step--2: clamp(1.4757rem, 1.4046rem + 0.3553vw, 1.68rem);
    --step--1: clamp(1.7708rem, 1.6563rem + 0.5725vw, 2.1rem);
    --step-0: clamp(2.125rem, 1.9511rem + 0.8696vw, 2.625rem);
    --step-1: clamp(2.55rem, 2.2957rem + 1.2717vw, 3.2813rem);
    --step-2: clamp(3.06rem, 2.6977rem + 1.8114vw, 4.1016rem);
}

html {
    line-height: 1.15;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.42em;
    color: var(--body-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    margin: 0;
}

p,
span,
label,
li,
a,
.nav-link,
button,
input {
    font-size: 1rem;
}

section h3 {
    text-decoration: underline;
    text-decoration-color: var(--action-color);
    margin-bottom: 40px;
}

/* Header */
.navbar-1 {
    height: 100px;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .navbar-1 {
        height: 110px;
    }
}

#languageDropdown {
    outline: 1px solid var(--standard-border-dark);
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--action-contrast-color);
}

@media (min-width: 1200px) {
    #languageDropdown {
        height: 44px;
        font-weight: 600;
    }
}

.btn-language {
    position: absolute;
    right: 35px;
}

@media (min-width: 992px) {
    .btn-language {
        position: static;
    }
}

#languageDropdown:hover {
    background-color: var(--standard-hover-color);
}

#languageDropdown:focus {
    outline: 2px solid var(--black-color);
}

.dropdown-item {
    color: var(--body-font-color);
}

.dropdown-item:hover {
    background-color: var(--standard-hover-color);
}

.dropdown-item:active {
    background-color: var(--action-color);
}

.brand {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    text-decoration: none;
}

@media (min-width: 992px) {
    .brand {
        margin-left: 50px;
    }
}

.brand h1 {
    color: var(--action-color);
    font-family: var(--title-font);
    font-size: var(--step-0);
    font-style: italic;
    line-height: 1;
}

.brand h2 {
    color: var(--header-link-color);
    font-family: var(--subtitle-font);
    font-size: var(--step--2);
    line-height: 1;
}

.navbar-1 .btn-book-now-1 {
    background-color: var(--action-color);
    color: var(--action-contrast-color);
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid var(--action-color);
    border: none;
    text-decoration: none;
    text-align: center;
    width: 160px;
    box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.11);
    display: none;
}

@media (min-width: 992px) {
    .navbar-1 .btn-book-now-1 {
        display: block;
    }
}

@media (min-width: 1200px) {
    .navbar-1 .btn-book-now-1 {
        padding: 12px;
        height: 48px;
        outline: none;
        font-weight: 600;
    }
}

.navbar-1 .btn-book-now-1:hover {
    background-color: var(--action-color-darken);
    color: var(--action-contrast-color);
}

.navbar-toggler {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.line-divider {
    border-top: 1px solid var(--standard-border-color);
}

.navbar-2 {
    padding: 0;
}

@media (min-width: 992px) {
    .navbar-2 {
        padding: 16px 0;
    }

    .navbar-2 .navbar-collapse {
        justify-content: center;
    }
}

.navbar-2 .navbar-nav {
    gap: 16px;
    text-align: center;
}

@media (min-width: 992px) {
    .navbar-2 .navbar-nav {
        gap: 60px;
    }
}

.navbar-2 .navbar-nav .nav-item:first-of-type {
    border-top: 1px solid var(--standard-border-color);
    padding-top: 16px;
}

.navbar-2 .navbar-nav .nav-item:last-of-type {
    padding-bottom: 16px;
}

.navbar-2 .navbar-nav .nav-link {
    text-transform: uppercase;
    color: var(--header-link-color);
    padding: 0;
    transition: none;
}

@media (min-width: 992px) {
    .navbar-2 .navbar-nav .nav-item:first-of-type {
        border: none;
        padding: 0;
    }

    .navbar-2 .navbar-nav .nav-item:last-of-type {
        padding: 0;
    }

    .navbar-2 .navbar-nav .nav-link {
        text-transform: none;
    }

    .navbar-2 .navbar-nav .nav-link:hover {
        border-bottom: 2px solid var(--action-color);
    }

    .navbar-2 .navbar-nav .nav-link.active {
        border-bottom: 2px solid var(--action-color);
    }

    .navbar-2 .navbar-nav .nav-link:focus {
        border-bottom: 2px solid var(--action-color);
    }
}

footer {
    z-index: -1;
    padding-top: 3.5rem;
}

.bottom-page-navigation {
    background-color: var(--body-font-color);
    color: var(--action-contrast-color);
    padding: 2.14rem 0;
    text-align: center;
}